<nav>
  <div>
    <div>
      <a routerLink="">BookCollector</a>
    </div>
    <div>
      <div>
        <a routerLink="books">Explorar libros</a>
      </div>
      <div>
        <a routerLink="collection">Mis libros</a>
      </div>
      <div>
        <a routerLink="wishlist">Mis deseados</a>
      </div>
      <div>
        <a routerLink="register" *ngIf="!isAuthenticated">Registrarse</a>
      </div>
      <div>
        <a routerLink="login" *ngIf="!isAuthenticated">Iniciar sesión</a>
      </div>
      <div>
        <button *ngIf="isAuthenticated" (click)="logout()">Cerrar sesión</button>
      </div>
    </div>
  </div>
</nav>
<div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>